body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans, DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;
  color: #3d3935;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  height: 100px;
}

.menu-button {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.menu .submenu-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  border: none;
  height: 100px;
}
.menu .submenu-button .dropdown-triangle {
  align-self: center;
  color: #0090d9;
  transform: rotate(45deg);
  padding-left: 0.5rem;
  height: 1rem;
  font-size: 0.5rem;
}
.menu .submenu-button a {
  text-decoration: none;
  color: inherit;
}
.menu .submenu {
  display: block;
}
.menu .submenu .dropdown {
  display: none;
  position: absolute;
  top: 100px;
  padding: 1rem 4rem 3rem 2rem;
  border-radius: 1%;
  border-style: ridge none none none;
  border-width: 2px;
  border-color: #0090d9;
}
.menu .submenu .dropdown h2 {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.09375rem;
}
.menu .submenu .dropdown li {
  border-style: none none ridge none;
  border-width: 1px;
}
.menu .submenu .dropdown li :not(h2) {
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  font-weight: 400;
  font-size: 0.875rem;
  text-decoration: none;
  color: #3d3935;
  padding: 0.5rem 0rem 0.5rem 1rem;
}
.menu .submenu .dropdown li:hover :not(h2) {
  padding-left: 2rem;
  margin-right: -1rem;
  color: #0090d9;
}
.menu .submenu:hover ul {
  display: block;
  list-style-type: none;
  line-height: 2.5rem;
}
.menu #apply-now-button {
  align-self: center;
  padding: 0.8rem 1.2rem;
  background-color: #0090d9;
  color: #ffffff;
  border: none;
  border-radius: 4%;
}

@media (max-width: 1023px) {
  #navbar {
    justify-content: space-between;
  }

  .menu-button {
    display: block;
    position: fixed;
    top: 30px;
    right: 10px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 100px;
  }
  .menu .submenu-button {
    width: 100vw;
    height: 30px;
    left: 0;
  }
  .menu .submenu {
    display: none;
  }
  .menu .submenu .dropdown {
    border: none;
    position: static;
    display: block;
  }
  .menu .submenu:hover .dropdown {
    display: none;
  }
  .menu #apply-now-button {
    position: fixed;
    top: 30px;
    right: 50px;
    order: -1;
  }
  .menu .show-submenu {
    display: block;
  }
  .menu .show-submenu #bootcamp-dropdown {
    display: block;
    list-style-type: none;
  }
  .menu .show-submenu #pd-dropdown {
    display: block;
    list-style-type: none;
  }
  .menu .show-submenu #outcomes-dropdown {
    display: block;
    list-style-type: none;
  }
  .menu .show-submenu #events-dropdown {
    display: block;
    list-style-type: none;
  }

  .show-menu .submenu {
    display: block;
  }
  .show-menu .submenu .dropdown {
    display: none;
    position: static;
  }
  .show-menu .submenu .dropdown li {
    line-height: 1.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
