// Colors

$color-1: #ffffff;
$color-2: #0090d9;
$color-3: #3d3935;
$color-4: #4aaded;
$color-5: #d8d8d8;
$color-6: #6d7278;
$color-7: #0000000d;
$color-8: #00000059;

// || Mixins

@mixin debug {
	border: 1px solid red;
}

@mixin button {
	align-self: center;

	padding: 0.8rem 1.18rem;

	background-color: $color-2;
	color: $color-1;

	border-style: solid;
	border-width: 1px;
	border-color: $color-2;
	border-radius: 2px;

	transition: background-color 0.2s ease-in-out;
}

body {
	background-color: $color-1;
	margin: 0;
	padding: 0;

	display: flex;
	flex-direction: column;

	font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans, DejaVu Sans,
		Trebuchet MS, Verdana, Verdana Ref, sans-serif;
	color: $color-3;
}

img {
	max-width: 100%;
	height: auto;
}

// || Navbar Section

#navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6rem;
	position: fixed;
	top: 0;
	height: 100px;

	width: 100%;

	background-color: $color-1;
}

.menu-button {
	display: none;
}

.menu {
	display: flex;
	justify-content: space-between;
	gap: 1rem;

	background-color: $color-1;

	.submenu-button {
		display: flex;
		flex-direction: row;
		align-items: center;

		background: none;
		border: none;
		height: 100px;

		.dropdown-triangle {
			align-self: center;

			color: $color-2;

			transform: rotate(45deg);
			padding-left: 0.5rem;
			height: 1rem;
			font-size: 0.5rem;
		}

		a {
			text-decoration: none;
			color: inherit;
		}
	}

	.submenu {
		display: block;

		.dropdown {
			display: none;

			position: absolute;
			top: 100px;

			padding: 1rem 3rem 1rem 2rem;
			margin-top: 3px;

			border-radius: 2px;
			border-style: ridge none none none;
			border-width: 2px;
			border-color: $color-2;

			h2 {
				font-size: 0.75rem;
				font-weight: 600;
				letter-spacing: 0.09375rem;
			}

			li {
				border-style: none none ridge none;
				border-width: 1px;
			}

			li :not(h2) {
				transition: all 0.2s ease-in-out;
				white-space: nowrap;

				font-weight: 400;
				font-size: 0.875rem;
				text-decoration: none;
				color: $color-3;

				padding: 0.5rem 0rem 0.5rem 1rem;
			}

			li:hover :not(h2) {
				padding-left: 2rem;
				margin-right: -1rem;
				color: $color-2;
			}

			li:last-child {
				border: none;
			}
		}
	}

	.submenu:hover {
		.dropdown {
			display: block;

			list-style-type: none;
			line-height: 2.5rem;

			background-color: $color-1;
		}
	}

	.apply-now {
		@include button();
	}

	.apply-now:hover {
		background-color: $color-4;
	}
}

@media (max-width: 1023px) {
	#navbar {
		display: block;
		height: 87px;
	}

	.move-content {
		margin-top: 254px;
	}

	#company-logo {
		position: fixed;
		top: 19px;
		left: 15px;
	}

	#hamburger-menu-icon {
		display: block;
		position: fixed;
		top: 1.7rem;
		right: 0.55rem;
		fill: $color-2;
		background: none;
		border: none;

		img {
			height: 2rem;
			width: 3rem;
		}
	}

	.menu {
		display: flex;
		flex-direction: column;
		align-items: center;

		padding: 0;
		margin: 0;

		.submenu-button {
			display: flex;
			justify-content: space-between;

			padding: 0 2rem;

			width: 100vw;
			height: 3.2rem;
			left: 0;

			font-weight: 600;

			.dropdown-triangle {
				transform: rotate(-45deg);
				height: 0;
			}
		}

		.submenu-button::after {
			content: '';
			position: absolute;
			width: 95vw;
			left: 2.5vw;

			border-style: none none inset none;
			border-width: 0.185rem;
			align-self: flex-end;
		}

		.submenu {
			display: none;

			.dropdown {
				border: none;
				position: static;
				display: block;
				padding: 0 1rem 0 0.8rem;

				li {
					h2 {
						font-weight: 600;
						font-size: 0.625rem;

						padding: 0;
						margin: 0;
					}
				}

				li :not(h2) {
					margin: 0;
					padding-left: 2.8rem;
				}

				li:hover :not(h2) {
					padding-left: 2.8rem;
					margin: 0;
					color: $color-2;
				}
			}
		}

		.submenu:hover {
			.dropdown {
				display: none;
				line-height: 0;
			}
		}

		.apply-now {
			position: fixed;
			top: 1.4rem;
			right: 5.16rem;
			padding: 0.75rem 1.46rem;
			font-size: 0.95rem;
			letter-spacing: 0.018rem;
		}

		.show-submenu {
			display: block;
			position: static;

			.submenu-button {
				color: $color-2;
			}

			.dropdown-triangle {
				transform: rotate(45deg);
				height: 1rem;
			}

			@mixin dropdown-event-listener {
				display: block;
				list-style-type: none;
			}

			@each $submenu in bootcamp, pd, outcomes, events {
				##{$submenu}-dropdown {
					@include dropdown-event-listener;
				}
			}
		}
	}

	.show-menu {
		display: block;

		position: fixed;
		top: 85px;

		.submenu {
			display: block;
			position: static;

			.dropdown {
				display: none;
				position: static;

				li {
					padding: 1.5rem;

					h2 {
						padding: 0;
					}
				}
			}
		}
	}
}

@media (max-width: 409px) {
	#navbar {
		height: 148px;
	}

	#apply-now-button {
		display: block;
		position: fixed;
		top: 5.75rem;
		width: 92.6vw;
		left: 3.7vw;
		white-space: nowrap;
		height: 2.563rem;
	}

	.show-menu {
		top: 146px;
	}
}

// || Welcome Section Desktop

#welcome-section {
	background-image: url(photos/welcome-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	margin-top: 100px;

	// width: 100%;
	height: 557px;
	background-color: $color-2;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	color: $color-1;

	h1 {
		font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
		font-size: 2.875rem;
		font-weight: 400;

		margin: 0;
		padding: 0;
		padding-top: 6.25rem;

		line-height: 3.8rem;
		text-align: center;

		#first-break {
			display: initial;
		}

		#second-break {
			display: none;
		}
	}

	p {
		margin: 1.75rem 4vw 0 4vw;

		text-align: center;
		font-size: 1.375rem;
		line-height: 2.3rem;
	}

	button {
		@include button();
		font-size: 1rem;
		margin: 1rem 0 0 1.5rem;
		padding: 0.63rem 1.28rem;
	}

	button:hover {
		background-color: $color-4;
	}
}

@media (max-width: 1023px) {
	#welcome-section {
		background-size: cover;
		padding: 0;
		margin: 0;

		margin-top: 87px;

		// height: 593px;

		h1 {
			#first-break {
				display: none;
			}

			#second-break {
				display: none;
			}
		}
	}
}

@media (max-width: 767px) {
	#welcome-section {
		height: 447px;

		h1 {
			font-size: 1.75rem;
			line-height: 2.5rem;
			padding: 9.45rem 0 6rem 0;

			br {
				display: none;
			}
		}

		p {
			display: none;
		}

		button {
			margin-left: 0;
		}
	}
}

@media (max-width: 409px) {
	#welcome-section {
		margin-top: 148px;
		height: 507px;

		h1 {
			margin-top: 1.05rem;

			#first-break {
				display: block;
			}

			#second-break {
				display: none;
			}
		}

		button {
			padding: 0.66rem 1.3rem;
			margin-top: 1.18rem;
			margin-left: 0;
		}
	}
}

// || Reviews Section

#reviews-section {
	display: flex;
	justify-content: center;
	flex-wrap: nowrap;
	gap: 1rem;

	background-color: $color-5;

	figure {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		margin: 0;
		padding: 0;

		width: 14.375rem;
		height: 6.565625rem;

		padding: 21px 0 13px;

		font-size: 15px;
	}
}

@media (max-width: 767px) {
	#reviews-section {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1rem;
		padding: 1rem;

		figure {
			width: auto;
		}
	}
}

@media (max-width: 409px) {
	#reviews-section {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		figure {
			width: auto;
		}
	}
}

// || Income Share Agreement

.income-share-agreement {
	display: flex;
	flex-direction: column;
	align-items: center;

	background: $color-6;
	color: $color-1;

	padding: 0.55rem 0 1rem 0;

	background: linear-gradient(10deg, $color-7 45%, transparent 0);
	background-color: $color-6;

	border: $color-2;
	border-style: solid none none none;
	border-width: 0.5rem;

	h2 {
		font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
		font-size: 1.5rem;
		font-weight: 400;

		width: 970px;

		margin: 1rem 0 0 0;
		padding: 0;
	}

	p {
		font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans,
			DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;
		font-size: 1.25rem;
		width: 970px;

		margin: 1rem 0 0 0;
		padding: 0;
	}

	button {
		@include button();
		padding-left: 1.8rem;
		padding-right: 1.8rem;

		margin: 1rem 845px 0 0;
	}

	button:hover {
		background-color: $color-4;
	}

	@media (max-width: 1023px) {
		align-items: flex-start;

		h2 {
			width: 95vw;
			margin-left: 0.5rem;
		}

		p {
			width: 95vw;
			margin-left: 0.5rem;
		}

		button {
			align-self: flex-start;
			margin-left: 0.5rem;
			margin-right: 0;
		}
	}

	@media (max-width: 409px) {
		margin: 1rem;

		h2,
		p {
			width: 80vw;
		}
	}
}

// || Industry Recognition

#industry-recognition {
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		font-weight: 540;
		color: #000000;
		font-size: 1.875rem;
		font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
		text-align: center;

		padding: 3.5rem 0 0 0;
		margin: 0;
	}

	p {
		width: 61rem;

		font-weight: 400;
		font-size: 1.0625rem;
		font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans,
			DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;

		color: #000000;

		text-align: center;

		@media (max-width: 1023px) {
			width: 95vw;
		}
	}

	#logos-container {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		column-gap: 2.5rem;
		row-gap: 2rem;
		margin: 0;
		padding: 0;

		width: 62rem;

		@media (max-width: 1023px) {
			width: auto;
		}
	}

	@media (max-width: 767px) {
		#logos-container {
			display: grid;
			grid-template-columns: repeat(3, 1fr);

			width: auto;
		}

		p {
			display: none;
		}

		img {
			width: auto;
		}
	}
}

// || Video Presentation Section

#bootcamp-video-presentation {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
	gap: 1rem;

	@media (max-width: 1023px) {
		flex-direction: column;
		align-items: center;
	}
}

.text-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 0;

	width: 29.5rem;

	@media (max-width: 1023px) {
		width: auto;
	}

	h2,
	p {
		padding: 1rem 0 0 0;
		margin: 0.5rem 0 0 0;
	}

	h2 {
		font-weight: 400;
		font-size: 1.5rem;
	}
}

.video-container {
	width: 54vw;
	height: 31vw;

	@media (max-width: 1023px) {
		width: 97vw;
		height: 50vw;
	}
}

// || Our Bootcamps Section

$image-width-desktop: 19rem;
$image-width-mobile-midsize: 28.75rem;
$image-width-mobile-small-screens: 90vw;
$image-width-midsize-screens: 45vw;
// $cards-height: 40.125rem;
$cards-gap: 1.5rem;

.our-bootcamps {
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		font-weight: 500;
		font-size: 1.875rem;
		font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
	}
}

.cards-container {
	display: flex;
	align-items: flex-start;
	gap: $cards-gap;

	overflow-x: auto;

	scroll-snap-type: x mandatory;
	width: $image-width-desktop * 3 + $cards-gap * 2 + 0.3rem;
	padding-left: 0.05rem;
	height: 41rem;

	@media (max-width: 989px) {
		width: $image-width-midsize-screens * 2;
	}

	@media (max-width: 767px) {
		width: $image-width-mobile-midsize;
	}

	@media (max-width: 500px) {
		width: $image-width-mobile-small-screens;
	}
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cards-container::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cards-container {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.bootcamp-info-card {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	flex-shrink: 0;
	scroll-snap-align: start;

	width: $image-width-desktop;
	height: 37rem;

	box-shadow: 1px 1px 3px 0 $color-8;
	margin: 0 0 1rem 0;
	padding: 0 0 3rem 0;

	user-select: none;

	h2 {
		font-size: 1.875rem;
		font-weight: 400;
		font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
		text-align: center;

		padding: 0;
		margin: 0;
	}

	h3 {
		font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans,
			DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;
		font-size: 1.375rem;
		font-weight: 400;
		text-align: center;

		padding: 0;
		margin: 0;

		width: 80%;
	}

	p {
		line-height: 1.44;
		font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans,
			DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;
		font-size: 1rem;
		width: 85%;

		padding: 0;
		margin: 0;
	}

	button {
		@include button();
		background-color: $color-1;
		color: $color-2;

		width: 218px;
		height: 39px;

		font-size: 1rem;
		font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans,
			DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;

		line-height: 0.8rem;
	}

	button:hover {
		color: $color-1;
		background-color: $color-2;
		cursor: pointer;
	}

	@media (max-width: 989px) {
		width: $image-width-midsize-screens;
	}

	@media (max-width: 767px) {
		width: $image-width-mobile-midsize;
	}

	@media (max-width: 500px) {
		width: $image-width-mobile-small-screens;
	}
}

.students-image-container {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	width: $image-width-desktop;
	height: 19rem;

	padding: 0;
	margin: 0;

	@media (max-width: 989px) {
		width: $image-width-midsize-screens;
	}

	@media (max-width: 767px) {
		width: $image-width-mobile-midsize;
	}

	@media (max-width: 500px) {
		width: $image-width-mobile-small-screens;
	}
}

// || Syllabus Section

.syllabus {
	display: grid;
	grid-template-areas:
		'photo title title'
		'photo intro gs-button'
		'photo . gs-button';
	align-self: center;

	margin-top: 5rem;
	padding: 0;

	border-width: 1px 3px;
	box-shadow: 1px 1px 3px 0 $color-8;

	width: 970px;
	height: 174px;

	.syllabus-image-container {
		grid-area: photo;

		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 175px;
		height: 174px;

		@media (max-width: 767px) {
			width: auto;
			height: 278px;
		}
	}

	h2 {
		grid-area: title;
		font-weight: 400;
		font-size: 1.375rem;
		font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;

		margin: 1.5rem 0 0 1rem;
	}

	p {
		grid-area: intro;
		width: 90%;
		line-height: 1.44rem;
		font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans,
			DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;
		font-size: 1rem;

		margin: 0.5rem 0 0 1rem;
	}

	button {
		grid-area: gs-button;
		width: 162px;
		font-size: 1rem;

		margin: 0 1.5rem 4rem 0;

		@media (max-width: 767px) {
			margin: 4.5rem 1.5rem 1.5rem 0;
		}
	}

	button {
		@include button();
		color: $color-2;
		background-color: $color-1;
	}

	button:hover {
		background-color: $color-2;
		color: $color-1;
		cursor: pointer;
	}

	@media (max-width: 1023px) {
		width: 95vw;
	}

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;

		width: 92vw;
		height: initial;
	}
}

// || Students reviews and industry reports

#students-reviews-and-reports {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	box-sizing: border-box;

	margin-top: 5rem;

	width: 970px;

	align-self: center;

	@media (max-width: 1023px) {
		flex-direction: column;
		width: 95vw;
	}
}

#students-reviews {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
}

.student-review {
	display: flex;
	box-shadow: 1px 1px 3px 0 $color-8;

	width: 616px;

	img {
		object-fit: cover;
		width: 130px;

		@media (max-width: 409px) {
			width: 100%;
			padding: 5vw;
			box-sizing: border-box;
		}
	}

	p {
		padding: 1.5rem;

		margin: 0;
		font-size: 1rem;
		line-height: 1.4375rem;

		i {
			font-size: 14px;
		}
	}

	@media (max-width: 1023px) {
		width: auto;
	}

	@media (max-width: 409px) {
		flex-direction: column;
	}
}

.reports {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	box-shadow: 1px 1px 3px 0 $color-8;
	padding: 1.5rem;
	margin: 0;

	img {
		height: 106px;

		@media (max-width: 1023px) {
			height: auto;
			width: 40vw;
			padding: 4rem 0;
		}

		@media (max-width: 410px) {
			padding: 0.5rem;
		}
	}

	p {
		text-align: center;
		padding: 0;
		margin: 0;
	}
}

// || Press articles

#press-articles {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 1.5rem;

	h2 {
		font-weight: 500;
		font-size: 1.875rem;
		font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
	}
}

.article {
	display: grid;
	grid-template-areas:
		'photo title title'
		'photo description button';

	width: 970px;
	box-shadow: 1px 1px 3px 0 $color-8;

	@media (max-width: 1023px) {
		width: 95vw;
	}

	@media (max-width: 767px) {
		display: flex;
		flex-direction: column;
	}

	img {
		grid-area: photo;
		object-fit: cover;
		width: 175px;
		height: 100%;

		@media (max-width: 767px) {
			width: 95vw;
			height: 278px;
		}
	}

	h3 {
		grid-area: title;
		padding: 0 1.5rem;
		margin: 1.5rem 0 0 0;

		font-size: 1.375rem;
		font-weight: 400;
		font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
	}
	p {
		grid-area: description;
		padding: 0;
		margin: 0.5rem 0 1.5rem 1.5rem;

		font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans,
			DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;
		font-size: 1rem;
		line-height: 1.44rem;
	}
	button {
		grid-area: button;
		@include button();
		background-color: $color-1;
		color: $color-2;
		margin: 1rem 1.5rem;
		width: 161px;
		height: 40px;

		align-self: flex-start;

		@media (max-width: 767px) {
			align-self: center;
		}
	}

	button:hover {
		@include button();
	}
}

// || Hack Reactor in the News

#news {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 3rem;

	h2 {
		font-weight: 500;
		font-size: 1.875rem;
		font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
	}
}

.news-container {
	display: flex;
	justify-content: flex-start;
	gap: 1.5rem;

	width: 980px;
	height: 549px;
	padding: 0.5rem;
	margin: 0;
	box-sizing: border-box;

	user-select: none;

	// @include debug();

	overflow-x: auto;
	scroll-snap-type: x mandatory;

	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */

	@media (max-width: 1023px) {
		width: 95vw;
	}

	@media (max-width: 989px) {
		width: 919 px;
		height: 526px;
	}

	@media (max-width: 767px) {
		width: 470px;
	}

	@media (max-width: 409px) {
		width: 95vw;
		height: auto;
	}
}

/* Hide scrollbar for Chrome, Safari and Opera */
.news-container::-webkit-scrollbar {
	display: none;
}

.news-article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	box-shadow: 1px 1px 3px 0 $color-8;

	width: 304px;
	box-sizing: border-box;
	scroll-snap-align: start;

	@media (max-width: 989px) {
		justify-content: center;

		width: 46vw;
		gap: 0;
	}

	@media (max-width: 767px) {
		width: 460px;
	}

	@media (max-width: 409px) {
		width: 95vw;
		height: auto;
	}

	img {
		object-fit: cover;
		width: 304px;

		@media (max-width: 989px) {
			object-position: center 20%;
			width: 46vw;
			height: 304px;
		}

		@media (max-width: 767px) {
			width: 460px;
		}

		@media (max-width: 409px) {
			width: 95vw;
		}
	}

	p {
		display: grid;
		place-items: start center;
		align-self: center;

		box-sizing: border-box;

		width: 256px;
		height: 90px;

		font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans,
			DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.45rem;

		@media (max-width: 989px) {
			width: 46vw;
			height: 69px;
			padding: 0 1.5rem;
		}

		@media (max-width: 767px) {
			width: 460px;
		}

		@media (max-width: 409px) {
			width: 95vw;
			height: auto;
		}
	}

	button {
		@include button();
		background-color: $color-1;
		color: $color-2;
		margin: 0;
		width: 218px;
		font-size: 1rem;
	}

	button:hover {
		background-color: $color-2;
		color: $color-1;
	}
}

// || Get Started

#get-started {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: 5rem;

	h2 {
		font-weight: 500;
		font-size: 1.875rem;
		font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
	}

	button {
		@include button();
		font-size: 1rem;
		text-align: center;
		padding: 0.5625rem 1.5rem;

		@media (max-width: 362px) {
			width: 95vw;
		}
	}
}
