body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans, DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;
  color: #3d3935;
}

img {
  max-width: 100%;
  height: auto;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: #ffffff;
}

.menu-button {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: #ffffff;
}
.menu .submenu-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  border: none;
  height: 100px;
}
.menu .submenu-button .dropdown-triangle {
  align-self: center;
  color: #0090d9;
  transform: rotate(45deg);
  padding-left: 0.5rem;
  height: 1rem;
  font-size: 0.5rem;
}
.menu .submenu-button a {
  text-decoration: none;
  color: inherit;
}
.menu .submenu {
  display: block;
}
.menu .submenu .dropdown {
  display: none;
  position: absolute;
  top: 100px;
  padding: 1rem 3rem 1rem 2rem;
  margin-top: 3px;
  border-radius: 2px;
  border-style: ridge none none none;
  border-width: 2px;
  border-color: #0090d9;
}
.menu .submenu .dropdown h2 {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.09375rem;
}
.menu .submenu .dropdown li {
  border-style: none none ridge none;
  border-width: 1px;
}
.menu .submenu .dropdown li :not(h2) {
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  font-weight: 400;
  font-size: 0.875rem;
  text-decoration: none;
  color: #3d3935;
  padding: 0.5rem 0rem 0.5rem 1rem;
}
.menu .submenu .dropdown li:hover :not(h2) {
  padding-left: 2rem;
  margin-right: -1rem;
  color: #0090d9;
}
.menu .submenu .dropdown li:last-child {
  border: none;
}
.menu .submenu:hover .dropdown {
  display: block;
  list-style-type: none;
  line-height: 2.5rem;
  background-color: #ffffff;
}
.menu .apply-now {
  align-self: center;
  padding: 0.8rem 1.18rem;
  background-color: #0090d9;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #0090d9;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
}
.menu .apply-now:hover {
  background-color: #4aaded;
}

@media (max-width: 1023px) {
  #navbar {
    display: block;
    height: 87px;
  }

  .move-content {
    margin-top: 254px;
  }

  #company-logo {
    position: fixed;
    top: 19px;
    left: 15px;
  }

  #hamburger-menu-icon {
    display: block;
    position: fixed;
    top: 1.7rem;
    right: 0.55rem;
    fill: #0090d9;
    background: none;
    border: none;
  }
  #hamburger-menu-icon img {
    height: 2rem;
    width: 3rem;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .menu .submenu-button {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100vw;
    height: 3.2rem;
    left: 0;
    font-weight: 600;
  }
  .menu .submenu-button .dropdown-triangle {
    transform: rotate(-45deg);
    height: 0;
  }
  .menu .submenu-button::after {
    content: "";
    position: absolute;
    width: 95vw;
    left: 2.5vw;
    border-style: none none inset none;
    border-width: 0.185rem;
    align-self: flex-end;
  }
  .menu .submenu {
    display: none;
  }
  .menu .submenu .dropdown {
    border: none;
    position: static;
    display: block;
    padding: 0 1rem 0 0.8rem;
  }
  .menu .submenu .dropdown li h2 {
    font-weight: 600;
    font-size: 0.625rem;
    padding: 0;
    margin: 0;
  }
  .menu .submenu .dropdown li :not(h2) {
    margin: 0;
    padding-left: 2.8rem;
  }
  .menu .submenu .dropdown li:hover :not(h2) {
    padding-left: 2.8rem;
    margin: 0;
    color: #0090d9;
  }
  .menu .submenu:hover .dropdown {
    display: none;
    line-height: 0;
  }
  .menu .apply-now {
    position: fixed;
    top: 1.4rem;
    right: 5.16rem;
    padding: 0.75rem 1.46rem;
    font-size: 0.95rem;
    letter-spacing: 0.018rem;
  }
  .menu .show-submenu {
    display: block;
    position: static;
  }
  .menu .show-submenu .submenu-button {
    color: #0090d9;
  }
  .menu .show-submenu .dropdown-triangle {
    transform: rotate(45deg);
    height: 1rem;
  }
  .menu .show-submenu #bootcamp-dropdown {
    display: block;
    list-style-type: none;
  }
  .menu .show-submenu #pd-dropdown {
    display: block;
    list-style-type: none;
  }
  .menu .show-submenu #outcomes-dropdown {
    display: block;
    list-style-type: none;
  }
  .menu .show-submenu #events-dropdown {
    display: block;
    list-style-type: none;
  }

  .show-menu {
    display: block;
    position: fixed;
    top: 85px;
  }
  .show-menu .submenu {
    display: block;
    position: static;
  }
  .show-menu .submenu .dropdown {
    display: none;
    position: static;
  }
  .show-menu .submenu .dropdown li {
    padding: 1.5rem;
  }
  .show-menu .submenu .dropdown li h2 {
    padding: 0;
  }
}
@media (max-width: 409px) {
  #navbar {
    height: 148px;
  }

  #apply-now-button {
    display: block;
    position: fixed;
    top: 5.75rem;
    width: 92.6vw;
    left: 3.7vw;
    white-space: nowrap;
    height: 2.563rem;
  }

  .show-menu {
    top: 146px;
  }
}
#welcome-section {
  background-image: url(photos/welcome-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  height: 557px;
  background-color: #0090d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
#welcome-section h1 {
  font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
  font-size: 2.875rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-top: 6.25rem;
  line-height: 3.8rem;
  text-align: center;
}
#welcome-section h1 #first-break {
  display: initial;
}
#welcome-section h1 #second-break {
  display: none;
}
#welcome-section p {
  margin: 1.75rem 4vw 0 4vw;
  text-align: center;
  font-size: 1.375rem;
  line-height: 2.3rem;
}
#welcome-section button {
  align-self: center;
  padding: 0.8rem 1.18rem;
  background-color: #0090d9;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #0090d9;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
  font-size: 1rem;
  margin: 1rem 0 0 1.5rem;
  padding: 0.63rem 1.28rem;
}
#welcome-section button:hover {
  background-color: #4aaded;
}

@media (max-width: 1023px) {
  #welcome-section {
    background-size: cover;
    padding: 0;
    margin: 0;
    margin-top: 87px;
  }
  #welcome-section h1 #first-break {
    display: none;
  }
  #welcome-section h1 #second-break {
    display: none;
  }
}
@media (max-width: 767px) {
  #welcome-section {
    height: 447px;
  }
  #welcome-section h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    padding: 9.45rem 0 6rem 0;
  }
  #welcome-section h1 br {
    display: none;
  }
  #welcome-section p {
    display: none;
  }
  #welcome-section button {
    margin-left: 0;
  }
}
@media (max-width: 409px) {
  #welcome-section {
    margin-top: 148px;
    height: 507px;
  }
  #welcome-section h1 {
    margin-top: 1.05rem;
  }
  #welcome-section h1 #first-break {
    display: block;
  }
  #welcome-section h1 #second-break {
    display: none;
  }
  #welcome-section button {
    padding: 0.66rem 1.3rem;
    margin-top: 1.18rem;
    margin-left: 0;
  }
}
#reviews-section {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 1rem;
  background-color: #d8d8d8;
}
#reviews-section figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  width: 14.375rem;
  height: 6.565625rem;
  padding: 21px 0 13px;
  font-size: 15px;
}

@media (max-width: 767px) {
  #reviews-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
  }
  #reviews-section figure {
    width: auto;
  }
}
@media (max-width: 409px) {
  #reviews-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  #reviews-section figure {
    width: auto;
  }
}
.income-share-agreement {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #6d7278;
  color: #ffffff;
  padding: 0.55rem 0 1rem 0;
  background: linear-gradient(10deg, #0000000d 45%, transparent 0);
  background-color: #6d7278;
  border: #0090d9;
  border-style: solid none none none;
  border-width: 0.5rem;
}
.income-share-agreement h2 {
  font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
  font-size: 1.5rem;
  font-weight: 400;
  width: 970px;
  margin: 1rem 0 0 0;
  padding: 0;
}
.income-share-agreement p {
  font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans, DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;
  font-size: 1.25rem;
  width: 970px;
  margin: 1rem 0 0 0;
  padding: 0;
}
.income-share-agreement button {
  align-self: center;
  padding: 0.8rem 1.18rem;
  background-color: #0090d9;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #0090d9;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  margin: 1rem 845px 0 0;
}
.income-share-agreement button:hover {
  background-color: #4aaded;
}
@media (max-width: 1023px) {
  .income-share-agreement {
    align-items: flex-start;
  }
  .income-share-agreement h2 {
    width: 95vw;
    margin-left: 0.5rem;
  }
  .income-share-agreement p {
    width: 95vw;
    margin-left: 0.5rem;
  }
  .income-share-agreement button {
    align-self: flex-start;
    margin-left: 0.5rem;
    margin-right: 0;
  }
}
@media (max-width: 409px) {
  .income-share-agreement {
    margin: 1rem;
  }
  .income-share-agreement h2,
.income-share-agreement p {
    width: 80vw;
  }
}

#industry-recognition {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#industry-recognition h2 {
  font-weight: 540;
  color: #000000;
  font-size: 1.875rem;
  font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
  text-align: center;
  padding: 3.5rem 0 0 0;
  margin: 0;
}
#industry-recognition p {
  width: 61rem;
  font-weight: 400;
  font-size: 1.0625rem;
  font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans, DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;
  color: #000000;
  text-align: center;
}
@media (max-width: 1023px) {
  #industry-recognition p {
    width: 95vw;
  }
}
#industry-recognition #logos-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 2.5rem;
  row-gap: 2rem;
  margin: 0;
  padding: 0;
  width: 62rem;
}
@media (max-width: 1023px) {
  #industry-recognition #logos-container {
    width: auto;
  }
}
@media (max-width: 767px) {
  #industry-recognition #logos-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: auto;
  }
  #industry-recognition p {
    display: none;
  }
  #industry-recognition img {
    width: auto;
  }
}

#bootcamp-video-presentation {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1rem;
}
@media (max-width: 1023px) {
  #bootcamp-video-presentation {
    flex-direction: column;
    align-items: center;
  }
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0;
  width: 29.5rem;
}
@media (max-width: 1023px) {
  .text-container {
    width: auto;
  }
}
.text-container h2,
.text-container p {
  padding: 1rem 0 0 0;
  margin: 0.5rem 0 0 0;
}
.text-container h2 {
  font-weight: 400;
  font-size: 1.5rem;
}

.video-container {
  width: 54vw;
  height: 31vw;
}
@media (max-width: 1023px) {
  .video-container {
    width: 97vw;
    height: 50vw;
  }
}

.our-bootcamps {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.our-bootcamps h2 {
  font-weight: 500;
  font-size: 1.875rem;
  font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
}

.cards-container {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 60.3rem;
  padding-left: 0.05rem;
  height: 41rem;
}
@media (max-width: 989px) {
  .cards-container {
    width: 90vw;
  }
}
@media (max-width: 767px) {
  .cards-container {
    width: 28.75rem;
  }
}
@media (max-width: 500px) {
  .cards-container {
    width: 90vw;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.cards-container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cards-container {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.bootcamp-info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  scroll-snap-align: start;
  width: 19rem;
  height: 37rem;
  box-shadow: 1px 1px 3px 0 #00000059;
  margin: 0 0 1rem 0;
  padding: 0 0 3rem 0;
  user-select: none;
}
.bootcamp-info-card h2 {
  font-size: 1.875rem;
  font-weight: 400;
  font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
  text-align: center;
  padding: 0;
  margin: 0;
}
.bootcamp-info-card h3 {
  font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans, DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;
  font-size: 1.375rem;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 80%;
}
.bootcamp-info-card p {
  line-height: 1.44;
  font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans, DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;
  font-size: 1rem;
  width: 85%;
  padding: 0;
  margin: 0;
}
.bootcamp-info-card button {
  align-self: center;
  padding: 0.8rem 1.18rem;
  background-color: #0090d9;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #0090d9;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
  background-color: #ffffff;
  color: #0090d9;
  width: 218px;
  height: 39px;
  font-size: 1rem;
  font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans, DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;
  line-height: 0.8rem;
}
.bootcamp-info-card button:hover {
  color: #ffffff;
  background-color: #0090d9;
  cursor: pointer;
}
@media (max-width: 989px) {
  .bootcamp-info-card {
    width: 45vw;
  }
}
@media (max-width: 767px) {
  .bootcamp-info-card {
    width: 28.75rem;
  }
}
@media (max-width: 500px) {
  .bootcamp-info-card {
    width: 90vw;
  }
}

.students-image-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 19rem;
  height: 19rem;
  padding: 0;
  margin: 0;
}
@media (max-width: 989px) {
  .students-image-container {
    width: 45vw;
  }
}
@media (max-width: 767px) {
  .students-image-container {
    width: 28.75rem;
  }
}
@media (max-width: 500px) {
  .students-image-container {
    width: 90vw;
  }
}

.syllabus {
  display: grid;
  grid-template-areas: "photo title title" "photo intro gs-button" "photo . gs-button";
  align-self: center;
  margin-top: 5rem;
  padding: 0;
  border-width: 1px 3px;
  box-shadow: 1px 1px 3px 0 #00000059;
  width: 970px;
  height: 174px;
}
.syllabus .syllabus-image-container {
  grid-area: photo;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 175px;
  height: 174px;
}
@media (max-width: 767px) {
  .syllabus .syllabus-image-container {
    width: auto;
    height: 278px;
  }
}
.syllabus h2 {
  grid-area: title;
  font-weight: 400;
  font-size: 1.375rem;
  font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
  margin: 1.5rem 0 0 1rem;
}
.syllabus p {
  grid-area: intro;
  width: 90%;
  line-height: 1.44rem;
  font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans, DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;
  font-size: 1rem;
  margin: 0.5rem 0 0 1rem;
}
.syllabus button {
  grid-area: gs-button;
  width: 162px;
  font-size: 1rem;
  margin: 0 1.5rem 4rem 0;
}
@media (max-width: 767px) {
  .syllabus button {
    margin: 4.5rem 1.5rem 1.5rem 0;
  }
}
.syllabus button {
  align-self: center;
  padding: 0.8rem 1.18rem;
  background-color: #0090d9;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #0090d9;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
  color: #0090d9;
  background-color: #ffffff;
}
.syllabus button:hover {
  background-color: #0090d9;
  color: #ffffff;
  cursor: pointer;
}
@media (max-width: 1023px) {
  .syllabus {
    width: 95vw;
  }
}
@media (max-width: 767px) {
  .syllabus {
    display: flex;
    flex-direction: column;
    width: 92vw;
    height: initial;
  }
}

#students-reviews-and-reports {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  box-sizing: border-box;
  margin-top: 5rem;
  width: 970px;
  align-self: center;
}
@media (max-width: 1023px) {
  #students-reviews-and-reports {
    flex-direction: column;
    width: 95vw;
  }
}

#students-reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.student-review {
  display: flex;
  box-shadow: 1px 1px 3px 0 #00000059;
  width: 616px;
}
.student-review img {
  object-fit: cover;
  width: 130px;
}
@media (max-width: 409px) {
  .student-review img {
    width: 100%;
    padding: 5vw;
    box-sizing: border-box;
  }
}
.student-review p {
  padding: 1.5rem;
  margin: 0;
  font-size: 1rem;
  line-height: 1.4375rem;
}
.student-review p i {
  font-size: 14px;
}
@media (max-width: 1023px) {
  .student-review {
    width: auto;
  }
}
@media (max-width: 409px) {
  .student-review {
    flex-direction: column;
  }
}

.reports {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px 1px 3px 0 #00000059;
  padding: 1.5rem;
  margin: 0;
}
.reports img {
  height: 106px;
}
@media (max-width: 1023px) {
  .reports img {
    height: auto;
    width: 40vw;
    padding: 4rem 0;
  }
}
@media (max-width: 410px) {
  .reports img {
    padding: 0.5rem;
  }
}
.reports p {
  text-align: center;
  padding: 0;
  margin: 0;
}

#press-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
#press-articles h2 {
  font-weight: 500;
  font-size: 1.875rem;
  font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
}

.article {
  display: grid;
  grid-template-areas: "photo title title" "photo description button";
  width: 970px;
  box-shadow: 1px 1px 3px 0 #00000059;
}
@media (max-width: 1023px) {
  .article {
    width: 95vw;
  }
}
@media (max-width: 767px) {
  .article {
    display: flex;
    flex-direction: column;
  }
}
.article img {
  grid-area: photo;
  object-fit: cover;
  width: 175px;
  height: 100%;
}
@media (max-width: 767px) {
  .article img {
    width: 95vw;
    height: 278px;
  }
}
.article h3 {
  grid-area: title;
  padding: 0 1.5rem;
  margin: 1.5rem 0 0 0;
  font-size: 1.375rem;
  font-weight: 400;
  font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
}
.article p {
  grid-area: description;
  padding: 0;
  margin: 0.5rem 0 1.5rem 1.5rem;
  font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans, DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;
  font-size: 1rem;
  line-height: 1.44rem;
}
.article button {
  grid-area: button;
  align-self: center;
  padding: 0.8rem 1.18rem;
  background-color: #0090d9;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #0090d9;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
  background-color: #ffffff;
  color: #0090d9;
  margin: 1rem 1.5rem;
  width: 161px;
  height: 40px;
  align-self: flex-start;
}
@media (max-width: 767px) {
  .article button {
    align-self: center;
  }
}
.article button:hover {
  align-self: center;
  padding: 0.8rem 1.18rem;
  background-color: #0090d9;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #0090d9;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
}

#news {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
#news h2 {
  font-weight: 500;
  font-size: 1.875rem;
  font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
}

.news-container {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 980px;
  height: 549px;
  padding: 0.5rem;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
@media (max-width: 1023px) {
  .news-container {
    width: 95vw;
  }
}
@media (max-width: 989px) {
  .news-container {
    width: 919 px;
    height: 526px;
  }
}
@media (max-width: 767px) {
  .news-container {
    width: 470px;
  }
}
@media (max-width: 409px) {
  .news-container {
    width: 95vw;
    height: auto;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.news-container::-webkit-scrollbar {
  display: none;
}

.news-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 3px 0 #00000059;
  width: 304px;
  box-sizing: border-box;
  scroll-snap-align: start;
}
@media (max-width: 989px) {
  .news-article {
    justify-content: center;
    width: 46vw;
    gap: 0;
  }
}
@media (max-width: 767px) {
  .news-article {
    width: 460px;
  }
}
@media (max-width: 409px) {
  .news-article {
    width: 95vw;
    height: auto;
  }
}
.news-article img {
  object-fit: cover;
  width: 304px;
}
@media (max-width: 989px) {
  .news-article img {
    object-position: center 20%;
    width: 46vw;
    height: 304px;
  }
}
@media (max-width: 767px) {
  .news-article img {
    width: 460px;
  }
}
@media (max-width: 409px) {
  .news-article img {
    width: 95vw;
  }
}
.news-article p {
  display: grid;
  place-items: start center;
  align-self: center;
  box-sizing: border-box;
  width: 256px;
  height: 90px;
  font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans, DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.45rem;
}
@media (max-width: 989px) {
  .news-article p {
    width: 46vw;
    height: 69px;
    padding: 0 1.5rem;
  }
}
@media (max-width: 767px) {
  .news-article p {
    width: 460px;
  }
}
@media (max-width: 409px) {
  .news-article p {
    width: 95vw;
    height: auto;
  }
}
.news-article button {
  align-self: center;
  padding: 0.8rem 1.18rem;
  background-color: #0090d9;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #0090d9;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
  background-color: #ffffff;
  color: #0090d9;
  margin: 0;
  width: 218px;
  font-size: 1rem;
}
.news-article button:hover {
  background-color: #0090d9;
  color: #ffffff;
}

#get-started {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
#get-started h2 {
  font-weight: 500;
  font-size: 1.875rem;
  font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
}
#get-started button {
  align-self: center;
  padding: 0.8rem 1.18rem;
  background-color: #0090d9;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #0090d9;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
  font-size: 1rem;
  text-align: center;
  padding: 0.5625rem 1.5rem;
}
@media (max-width: 362px) {
  #get-started button {
    width: 95vw;
  }
}

/*# sourceMappingURL=styles.css.map */
