body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: Segoe UI, Candara, PT Sans, Bitstream Vera Sans, DejaVu Sans, Trebuchet MS, Verdana, Verdana Ref, sans-serif;
  color: #3d3935;
}

img {
  max-width: 100%;
  height: auto;
}

#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
  position: fixed;
  height: 100px;
  width: 100%;
  background-color: #ffffff;
}

.menu-button {
  display: none;
}

.menu {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background-color: #ffffff;
}
.menu .submenu-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  border: none;
  height: 100px;
}
.menu .submenu-button .dropdown-triangle {
  align-self: center;
  color: #0090d9;
  transform: rotate(45deg);
  padding-left: 0.5rem;
  height: 1rem;
  font-size: 0.5rem;
}
.menu .submenu-button a {
  text-decoration: none;
  color: inherit;
}
.menu .submenu {
  display: block;
}
.menu .submenu .dropdown {
  display: none;
  position: absolute;
  top: 100px;
  padding: 1rem 3rem 1rem 2rem;
  margin-top: 3px;
  border-radius: 2px;
  border-style: ridge none none none;
  border-width: 2px;
  border-color: #0090d9;
}
.menu .submenu .dropdown h2 {
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.09375rem;
}
.menu .submenu .dropdown li {
  border-style: none none ridge none;
  border-width: 1px;
}
.menu .submenu .dropdown li :not(h2) {
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  font-weight: 400;
  font-size: 0.875rem;
  text-decoration: none;
  color: #3d3935;
  padding: 0.5rem 0rem 0.5rem 1rem;
}
.menu .submenu .dropdown li:hover :not(h2) {
  padding-left: 2rem;
  margin-right: -1rem;
  color: #0090d9;
}
.menu .submenu .dropdown li:last-child {
  border: none;
}
.menu .submenu:hover .dropdown {
  display: block;
  list-style-type: none;
  line-height: 2.5rem;
  background-color: #ffffff;
}
.menu .apply-now {
  align-self: center;
  padding: 0.8rem 1.18rem;
  background-color: #0090d9;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #0090d9;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
}
.menu .apply-now:hover {
  background-color: #4aaded;
}

@media (max-width: 1023px) {
  #navbar {
    display: block;
    height: 87px;
  }

  #company-logo {
    position: fixed;
    top: 19px;
    left: 15px;
  }

  #hamburger-menu-icon {
    display: block;
    position: fixed;
    top: 1.7rem;
    right: 0.55rem;
    fill: #0090d9;
    background: none;
    border: none;
  }
  #hamburger-menu-icon img {
    height: 2rem;
    width: 3rem;
  }

  .menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  .menu .submenu-button {
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100vw;
    height: 3.2rem;
    left: 0;
    font-weight: 600;
  }
  .menu .submenu-button .dropdown-triangle {
    transform: rotate(-45deg);
    height: 0;
  }
  .menu .submenu-button::after {
    content: "";
    position: absolute;
    width: 95vw;
    left: 2.5vw;
    border-style: none none inset none;
    border-width: 0.185rem;
    align-self: flex-end;
  }
  .menu .submenu {
    display: none;
  }
  .menu .submenu .dropdown {
    border: none;
    position: static;
    display: block;
    padding: 0 1rem 0 0.8rem;
  }
  .menu .submenu .dropdown li h2 {
    font-weight: 600;
    font-size: 0.625rem;
    padding: 0;
    margin: 0;
  }
  .menu .submenu .dropdown li :not(h2) {
    margin: 0;
    padding-left: 2.8rem;
  }
  .menu .submenu .dropdown li:hover :not(h2) {
    padding-left: 2.8rem;
    margin: 0;
    color: #0090d9;
  }
  .menu .submenu:hover .dropdown {
    display: none;
    line-height: 0;
  }
  .menu .apply-now {
    position: fixed;
    top: 1.4rem;
    right: 5.16rem;
    padding: 0.75rem 1.46rem;
    font-size: 0.95rem;
    letter-spacing: 0.018rem;
  }
  .menu .show-submenu {
    display: block;
    position: static;
  }
  .menu .show-submenu .submenu-button {
    color: #0090d9;
  }
  .menu .show-submenu .dropdown-triangle {
    transform: rotate(45deg);
    height: 1rem;
  }
  .menu .show-submenu #bootcamp-dropdown {
    display: block;
    list-style-type: none;
  }
  .menu .show-submenu #pd-dropdown {
    display: block;
    list-style-type: none;
  }
  .menu .show-submenu #outcomes-dropdown {
    display: block;
    list-style-type: none;
  }
  .menu .show-submenu #events-dropdown {
    display: block;
    list-style-type: none;
  }

  .show-menu {
    display: block;
    position: fixed;
    top: 85px;
  }
  .show-menu .submenu {
    display: block;
    position: static;
  }
  .show-menu .submenu .dropdown {
    display: none;
    position: static;
  }
  .show-menu .submenu .dropdown li {
    padding: 1.5rem;
  }
  .show-menu .submenu .dropdown li h2 {
    padding: 0;
  }
}
@media (max-width: 409px) {
  #navbar {
    height: 148px;
    box-sizing: border-box;
  }

  #apply-now-button {
    display: block;
    position: static;
    width: 92vw;
    box-sizing: border-box;
    margin: 5.75rem 0 0 0;
    padding: 0;
    height: 41px;
    width: 90vw;
    align-self: center;
    white-space: nowrap;
  }
}
#welcome-section {
  background-image: url(photos/welcome-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  height: 557px;
  background-color: #0090d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
#welcome-section h1 {
  font-family: Charter, Sylfaen, Cambria, Georgia, Times, serif;
  font-size: 2.875rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  padding-top: 6.25rem;
  line-height: 3.8rem;
  text-align: center;
}
#welcome-section h1 #first-break {
  display: initial;
}
#welcome-section h1 #second-break {
  display: none;
}
#welcome-section p {
  font-size: 1.375rem;
  margin-top: 1.75rem;
}
#welcome-section button {
  align-self: center;
  padding: 0.8rem 1.18rem;
  background-color: #0090d9;
  color: #ffffff;
  border-style: solid;
  border-width: 1px;
  border-color: #0090d9;
  border-radius: 2px;
  transition: background-color 0.2s ease-in-out;
  font-size: 1rem;
  margin: 1rem 0 0 1.5rem;
  padding: 0.63rem 1.28rem;
}
#welcome-section button:hover {
  background-color: #4aaded;
}

@media (max-width: 1023px) {
  #welcome-section {
    background-size: cover;
    padding: 0;
    margin: 0;
    margin-top: 87px;
  }
  #welcome-section h1 #first-break {
    display: none;
  }
  #welcome-section h1 #second-break {
    display: none;
  }
}
@media (max-width: 767px) {
  #welcome-section {
    height: 447px;
  }
  #welcome-section h1 {
    font-size: 1.75rem;
    line-height: 2.5rem;
    padding: 9.45rem 0 6rem 0;
  }
  #welcome-section h1 br {
    display: none;
  }
  #welcome-section p {
    display: none;
  }
}
@media (max-width: 409px) {
  #welcome-section {
    margin-top: 148px;
    height: 507px;
  }
  #welcome-section h1 {
    margin-top: 1.05rem;
  }
  #welcome-section h1 #first-break {
    display: block;
  }
  #welcome-section h1 #second-break {
    display: none;
  }
  #welcome-section button {
    padding: 0.66rem 1.3rem;
    margin-top: 1.18rem;
  }
}

/*# sourceMappingURL=styles.css.map */
